@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/apercu_regular.otf);
}
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/apercu_regular_italic.otf);
    font-style: italic;
}

@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/apercu_bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/apercu_bold_italic.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/apercu_medium.otf);
    font-weight: medium;
}
@font-face {
    font-family: Apercu;
    src: url(../fonts/Apercu/apercu_medium_italic.otf);
    font-weight: medium;
    font-style: italic;
}
@font-face {
    font-family: Baskerville;
    src: url(../fonts/Baskerville/baskerville.otf);
    
}