
body{
    background-color: #fff;
    color: #4f4f4f;
    font-family: Arial,Helvetica;
    font-size: 14px;
    line-height: 22px;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: .75px;
    cursor: pointer;
}

.fix-header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index:3;
    height: 50px;
    background: black;
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow:row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    padding:16px;
}
.header-left, .header-right{
    display: flex;
    flex-direction: row;
}


[class*=icon-]{
    display: inline-block;
}
.icon-svg {
    background-size: 2095px 90px;
    background-image: url('../image/icons.svg');
}
.icon-search{
    width: 27px;
    height: 24px;
    background-position: -1490px 0;
    margin-top:-2px;
}
.icon-logo{
    width: 128px;
    height: 30px;
    background-position: -835px 0;
    margin-top:-4px;
}
.icon-bag{
    width: 27px;
    height: 30px;
    background-position: -630px 0;
}
.icon-fav {
    width: 27px;
    height: 24px;
    background-position: -665px 0;
    margin-right:16px
}
.icon-arrow-left {
    width: 45px;
    height: 45px;
    background-position: -1235px 0;
    left: 0;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    position: absolute;
    top: 40%;
    z-index: 1000;
}
.icon-arrow-right {
    width: 45px;
    height: 45px;
    background-position: -1235px 0;
    position: absolute;
    top: 40%;
    z-index: 1000;
    right:0;
}

.navbar-toggle {
    margin-right:16px;
}
.navbar-toggle .icon-bar {
    width: 25px;
    height: 1px;
    display: block;
    border-radius: 1px;
    background: #fff;
    margin: 1px 0;
}
.navbar-toggle .icon-bar.top {
    margin-bottom: 6px;
}
.navbar-toggle .icon-bar.bottom {
    margin-top:6px;
}

.content{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    overflow-y: scroll;
    height: 100%;
}
.product-wrapper{
    position: relative;
    margin-top: 49px;
    display:flex;
    flex-direction:column;
}


/* Style the list */
ul.breadcrumb {
    padding: 16px;
    margin:0;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #909090;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #909090;
    text-decoration: none;
}


.img-product {
    width:100%;
}
.product-header{
    padding-top:16px;
    text-align: center;
    color:#000;
}
.product-title{
    font-size: 18px;
    padding-bottom: 16px;
}
.product-title h1{
    font-size:100%;
    font-weight:400;
    margin:0;
    padding:0;
    border:none;
}
.product-price{
    padding-bottom: 16px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
