<template>
  <div id="test1">
    <div class="fix-header">
      <div class="flex-container">
        <div class="header-left">
          <div class="navbar-toggle">
            <span class="icon-bar top"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar bottom"></span>
          </div>
          <a class="icon-svg icon-search"></a>
        </div>
        <a class="icon-svg icon-logo"></a>
        <div class="header-right">
          <a class="icon-svg icon-fav"></a>
          <a class="icon-svg icon-bag"></a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="product-wrapper">
        <div class="breadcrumb-wrapper">
          <ul class="breadcrumb">
            <li><a href="#">Women</a></li>
            <li><a href="#">International Brands</a></li>
            <li><a href="#">Shoes</a></li>
          </ul>
        </div>
        <img class="img-product" src="../assets/image/product.jpg"/>
        <a class="icon-svg icon-arrow-left"></a>
        <a class="icon-svg icon-arrow-right"></a>
        <div class="product-header">
          <div class="product-title">
            <h1>Villarosa Heels</h1>
            <h1>ALDO</h1>
          </div>
          <div class="product-price">199.00 SGD</div>
        </div>
      </div>
      <div id="app">
        <div class="product-size">
          <productSize></productSize>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import productSize from './ProductSize'

export default {
  name: 'addToBag',
  components: {
    productSize
  }
}
</script>

<style>
  .product-size {
    margin: 0 5px;
    background-color: #fff;
  }
</style>
