<template>
  <div id="test2">
    <div class="background">
      <div class="wrapper" v-if="showSubscription" @click="isOpen=true" v-bind:class="{ open: isOpen}">
      <span class="minimize-wrapper" @click="minimizeWindow">
        <i class="fa" :class="windownIcon" aria-hidden="true"></i>
      </span>

        <div class="content" v-bind:class="{ open: isOpen}">
          <div class="success-message" v-if="isSubmitted">
            <h3>Congratulations!</h3>
            <span>You have successfully signed up! Your exclusive promo-code has been sent to
              your email. Welcome to ZALORA!
            </span>
            <img class="send-mail-img" src="../assets/image/Send-Mail.png"/>
          </div>
          <div class="sign-up-content" v-else="isSubmitted">
            <div class="img"></div>
            <div class="form-group">
              <input
                placeholder="Email"
                type="email"
                name="email"
                id="formEmail"
                v-model="email"
                v-validate="'required|email'"
                v-bind:class="{'form-control': true, 'error': errors.has('email') }"
              >
              <div class="help-wrapper">
                <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
              </div>
              <div class="btn-wrapper">
                <button class="btn-primary" @click="submit" value="women" :disabled="errors.has('email')">Women</button>
                <button class="btn-primary" @click="submit" value="men" :disabled="errors.has('email')">Men</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'newsletterSubscription',
  components: {
  },
  data () {
    return {
      isOpen: false,
      email: '',
      isValid: false,
      isSubmitted: false,
      windownIcon: 'fa-window-minimize',
      showSubscription: true
    }
  },
  methods: {
    minimizeWindow: function (e) {
      if (this.isSubmitted) {
        this.showSubscription = false
      } else {
        this.isOpen = false
        this.isSubmitted = false
      }
      e.stopPropagation()
    },
    validate: function (email) {
      this.isVaconsole.log(this.errors.has('email'))
    },
    submit: function (e) {
      var data = {
        'gender': e.target.value,
        'email': this.email
      }
      console.log(data)
      var self = this
      setTimeout(function () {
        self.isSubmitted = true
        self.windownIcon = 'fa-times'
      }, 1000)
    }
  }
}
</script>

<style scoped>
  .background {
    background: url("../assets/image/background.png");
    background-size: 100%;
    height: 355%;
    width: 100%;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
  }
  .wrapper {
    width: 109px;
    height: 109px;
    cursor: pointer;
    position: fixed;
    border-radius: 3px;
    left: 8%;
    bottom: -5%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: transform 375ms, width 275ms 100ms, height 375ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .wrapper.open {
    transform: translate(-10%, -20%);
    width: 330px;
    height: 330px;
    transition: transform 375ms, width 375ms, height 275ms 100ms;

  }
  div.content {
    position: absolute;
    margin: auto;
    left: -9999px;
    right: -9999px;
    transform-origin: top;
    width: 330px;
    transform: scale(0.52);
    height: 330px;
    border-radius: 3px;
    overflow: hidden;
    transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
    background: #fff;
  }
  .content.open {
    transform: scale(1);
  }
  .img {
    height: 206px;
    background-image: url("../assets/image/offer.png");
    background-size: cover;
    background-position: center;
  }
  .minimize-wrapper {
    position: relative;
    z-index: 1;
    left: 300px;
    top: 10px;
  }
  .form-group {
    padding: 5px 40px 20px 40px;
  }
  input {
    width: 100%;
    display: block;
    border: none;
    padding: 20px 0 5px 0;
    border-bottom: solid 1px #000;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #00c8b4 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00c8b4 4%);
    background-position: -250px 0;
    background-size: 250px 100%;
    background-repeat: no-repeat;
    color: #404040;
  }
  input.error {
    border-color: #ba4242;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #ba4242 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ba4242 4%);
  }
  input.error:focus {
    border-color: #ba4242;
  }
  input:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-color: #00c8b4;
  }
  input:focus::-webkit-input-placeholder {
    color: #000;
    font-size: 12px;
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
    visibility: visible !important;
  }
  .help-wrapper {
    height: 24px;
  }
  .help{
    font-size: 10px;
  }
  .is-danger {
    color: #ba4242;
  }
.btn-primary {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transition: background-color .3s, color .2s;
  border: 1px solid;
  border-color: #fff;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  letter-spacing: 1px;
  width: 80px;
}
  .btn-primary:disabled {
    opacity: 0.5;
    color: #6d6e6e;
  }
  .btn-primary:hover {
    background-color: transparent;
    color: #000;
    border-color: #000;
  }
  .btn-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .success-message {
    text-align: center;
    margin: 35px;
  }
  .send-mail-img {
    display: block;
    height: 100px;
    margin-left: 60px;
    margin-top: 20px;
  }
</style>
