<template>
  <div>
    <div class="product-size-selection">
      <div class="size-title">Size</div>
      <div class="selector-wrapper">
        <div class="system-selection">
          <div class="system-selection-toggle" @click="showSystemModal = true">
            <span class="selected-system-text">{{selectedSystem}}</span>
          </div>
          <div class="size-system-modal" v-if="showSystemModal">
            <div class="modal-mask" @click="showSystemModal = false">
              <div class="vertical-center">
                <div class="modal-content ui-listBox">
                  <div class="ui-listBox-header">Choose Size</div>
                  <div class="modal-body ui-listBox-body">
                    <ul>
                      <li v-for="system in systems" class="system-selector-item" v-on:click="onSystemClicked(system)" v-bind:class="{ active : system===selectedSystem}"
                          value="system" v-text="system"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="size-selection">
          <div class="size-selection-toggle" @click="showSizeModal = true">
            <span v-if="selectedSize" class="selected-size-text">{{selectedSize}}</span>
            <span v-else class="selected-size-text">Choose Size</span>
          </div>
          <div class="size-modal" v-if="showSizeModal">
            <div class="modal-mask" @click="showSizeModal = false">
              <div class="vertical-center">
                <div class="modal-content ui-listBox">
                  <div class="ui-listBox-header">Choose Size</div>
                  <div class="modal-body ui-listBox-body" v-if="selectedSystem=='EU'">
                    <ul>
                      <li v-for="size in sizes" class="size-selector-item" v-on:click="onSizeClicked(size.sizeEU)" v-bind:class="{ active : size.sizeEU===selectedSize}" value="size.sizeEU" v-text="size.sizeEU"></li>
                    </ul>
                  </div>
                  <div class="modal-body ui-listBox-body" v-if="selectedSystem=='US'">
                    <ul>
                      <li v-for="size in sizes" class="size-selector-item" v-on:click="onSizeClicked(size.sizeUS)" v-bind:class="{ active : size.sizeUS===selectedSize}" value="size.sizeUS" v-text="size.sizeUS"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="add-to-bag-btn" v-bind:class="{added: isAdded}" v-on:click="onAddToBagClicked">
      <img v-bind:src="imageLink"/>
      <span>{{addToBagBtn}}</span>
    </button>
  </div>
</template>

<script>
  export default {
    name: 'productSize',
    data () {
      return {
        imageLink: null,
        isAdded: false,
        addToBagBtn: 'Add to bag',
        isPending: false,
        selectedSystem: 'EU',
        selectedSize: null,
        showSystemModal: false,
        showSizeModal: false,
        systems: ['EU', 'US'],
        sizes: [
          {
            sizeUS: 6,
            sizeEU: 36,
            isAvailable: false
          },
          {
            sizeUS: 6.5,
            sizeEU: 37,
            isAvailable: true
          },
          {
            sizeUS: 7.5,
            sizeEU: 38,
            isAvailable: false
          },
          {
            sizeUS: 8,
            sizeEU: 39,
            isAvailable: true
          },
          {
            sizeUS: 9,
            sizeEU: 40,
            isAvailable: false
          }
        ]
      }
    },
    methods: {
      isDisabled: function (size) {
        return !size.isAvailable
      },
      onSizeClicked: function (size) {
        this.selectedSize = size
        if (this.isPending) {
          this.onAddToBagClicked()
        }
      },
      onSystemClicked: function (system) {
        if (system !== this.selectedSystem) {
          this.selectedSystem = system
          this.selectedSize = null
        }
      },
      onAddToBagClicked: function () {
        if (!this.selectedSize) {
          this.showSizeModal = true
          this.isPending = true
        } else {
          this.isAdded = true
          this.imageLink = './src/assets/image/added-to-bag.gif'
          this.addToBagBtn = 'added to bag'
        }
      }
    },
    watch: {
      showSizeModal: function (newValue, oldValue) {
        if (newValue === false && this.selectedSize === null) {
          this.isPending = false
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  .vertical-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
  }
  .ui-listBox {
    width: 75%;
    max-height: 75vh;
    overflow: scroll;
    margin: 0 auto;
    pointer-events: all;
    border-radius: 0;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }
  .ui-listBox-header {
    min-height: 16.43px;
    padding: 25px;
    border-bottom: 1px solid #909090;
    font-size: 16px;
  }
  .add-to-bag-btn {
    font-size: 16px;
    padding: 16px 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #fff;
    background-color: #000;
    border: 0;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1em;
    line-height: 22px;
    text-transform: uppercase;
  }
  .add-to-bag-btn img {
    border: 0;
    vertical-align: middle;
    height: 1em;
  }
  .add-to-bag-btn.added {
    background: 15% #00b09f;
    color: #fff;
    background-size: 1.5em;
  }

  .product-size-selection {
    display: flex;
    flex-direction: row;
    margin: 16px 5px;
    text-align: center;
    line-height: 32px;
  }
  .size-title {
    flex-grow: 1;
  }
  .selector-wrapper {
    flex-grow: 5;
    display: flex;
  }
  .system-selection,
  .size-selection {
    flex-grow: 1;
    vertical-align: top;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .system-selection {
    padding-right: 16px;
  }
  .system-selection-toggle,
  .size-selection-toggle {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  .selected-system-text,
  .selected-size-text {
    display: inline-block;
    float: left;
    margin-left: 10px;
    line-height: 30px;
    text-align: center;
  }
  .selected-size-text:after,
  .selected-system-text:after {
    content: '';
    background: url('../assets/image/icon_arrow-large-dark-down.svg') no-repeat;
    width: 9px;
    height: 6px;
    position: absolute;
    right: 13px;
    top: 12px;
  }
  .size-selector-item,
  .system-selector-item {
    padding: 25px;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
  }
  .size-selector-item.active:after,
  .system-selector-item.active:after {
    content: '';
    background: url('../assets/image/icon_check-dark.svg') no-repeat;
    width: 20px;
    height: 15px;
    float: right;
  }

</style>
