<template>
 <div id="app">
   <div class="header">
     <router-link to="/addToBag">Assignment: Add To Bag</router-link>
     <router-link to="/newsletterSubscription">Assignment: Newsletter Subscription</router-link>
   </div>
   <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>
<style scoped>
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
</style>
